<div{{ attributes }}>
  {{- product_variation.field_image -}}
  {{- product_variation.title -}}
  {{- product_variation.price -}}
  {{ product.body }}
  {{- product_variation.product_id -}}
  {{ breakpoint() }}
</div>

