<div class="product-wrapper container">
  <div class="product">
  <div class="product__variation-title">
    {{ product.variation_title }}
  </div>
  <div class="product__rating">
    {{ product.field_rating }}
  </div>
  <div class="product__images">
    <div class="slider-for">
    {{ product.variation_field_image }}
    </div>
    <div class="slider-nav">
    {{ product.variation_field_image }}
    </div>
  </div>
  <div class="product__variation">
    {{ product.body }}
    {{ product.variation_price }}
    <div class="form-cart">
      {{ product.variations }}
    </div>
    {{ product.field_tabs }}
  </div>
  <div class="product__similar-products">
    {{ product.field_similar_products }}
  </div>
  </div>
</div>
