<div{{ attributes.addClass('widget widget-sale') }}>
  {% if content %}
    <div class="widget-wrapper container">
      <div class="widget-wrapper__left">
      <a href="{{ content.field_link.0['#url'] }}">
        {{ content.field_image }}
      </a>
    </div>
      <div class="widget-wrapper__right">
      {{ content.field_text }}
      {{ content.field_sale }}
    </div>
    </div>
  {% endif %}
</div>
